# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
*.xcworkspace

# Android
android/.gradle/
android/captures/
android/.idea/
*.iml
*.apk
*.keystore

# VS Code
.vscode/
